.bgcl{
    background-color: rgb(61, 61, 61);
    
    
}
.main{
    width: 100%;
    height: 550px;
}
.img{
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(../public/img/12-adidas-superstar-50-let-dvizhenija-vpered.jpg);
}
